.App {
  text-align: left;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.my-sidebar {
    min-height: 100vh;
    background: #ECF0F1;
    color: #ECF0F1;
}

.my-sidebar-expanded {
    min-width: 200px;
    max-width: 200px;
}

.my-sidebar-collapsed {
    min-width: 62px;
    max-width: 62px;
}